<div class="row">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <form #authFormRef="ngForm" (ngSubmit)="onAuthFormSubmit(authFormRef)">
      <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" ngModel require />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" minlength="6" ngModel required>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!authFormRef.valid">
        {{ isLoginMode ? "Sign In" : "Sign Up" }}
      </button>
      <span class="mx-3">|</span>
      <button class="btn btn-primary" type="button" (click)="onSwitchAuthMode()">
        Switch to {{ isLoginMode ? "Sign Up" : "Sign In" }}
      </button>

    </form>

    <p class="alert alert-danger mt-3" *ngIf="errMsg.length > 0">
      {{ errMsg }}
    </p>
  </div>
</div>
