.box {
  background-color: saddlebrown;
  color: white;
  font-size: 1.5rem;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyBox {
  height: 100px;
  font-size: 1rem;
  opacity: 0.75;
}